{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h4 class="display-5">
      {{found_msg.content}}
    </h4>
    <p class="d-flex justify-content-rigth"><em>- {{ found_msg.user.first_name }} {{ found_msg.user.last_name }}</em></p>
    <div class="d-flex justify-content-rigth">
      {% for tag in found_msg.tags %}
        <a href="{{ url_for('tag_show', tag_id=tag.id) }}" class="badge badge-pill badge-warning">{{ tag.name }}</a>
      {% endfor %}
    </div>
    <div>
        <a href="{{ url_for('index_messages', user_id=found_msg.user.id) }}" class="badge  badge-pill badge-secondary">Back to your messages</a>
    </div>
  </div>
{% endblock %}