{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
  <h3>Messages for {{ user.first_name }} {{user.last_name}}</h3>
  <a href="{{url_for('msg_new',user_id = user.id)}}" class="btn btn-primary btn-sm">New Message</a>
  <a href="{{ url_for('user_show', user_id = user.id)}}" class="btn btn-primary btn-sm"> Back to your profile</a>
</div>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Tag Count</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody >
      {% for msg in user.messages %}
    <tr>
      <td>{{msg.content }}</td>
      <td>{{ msg.tags.count()}} tags</td>
      <td>
        <a href="{{url_for('msg_edit_form', msg_id = msg.id)}}" class="btn btn-success btn-sm">EDIT MSG</a>
        <a href="{{ url_for('msg_show', msg_id = msg.id)}}" class="btn btn-info btn-sm">Show Msg</a>
        <form action="{{url_for('msg_delete', msg_id = msg.id)}}?_method=DELETE" method="post" style="display: inline;">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
      </td>
    </tr>
    {% endfor%}
  </tbody>
</table>
{% endblock %}








<!-- 
<h3>Messages for {{ user.first_name }} {{user.last_name}}</h3>
<a href="{{url_for('msg_new',user_id = user.id)}}">New Messages</a>
<ul>
  {% for msg in user.messages %}
  <li style="display:flex;justify-content:space-evenly;padding-bottom: 2%;">
    <span>{{msg.content }}</span>
   
   

    <a href="" class="btn btn-danger btn-sm">Tag</a>
    <form action="{{url_for('msg_delete', msg_id = msg.id)}}?_method=DELETE" method="post">
      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
    <a href="{{url_for('msg_edit_form', msg_id = msg.id)}}" class="btn btn-danger btn-sm">EDIT MSG</a>
  </li>
  {% endfor %}
</ul>
<a href="{{ url_for('user_show', user_id = user.id)}}"> Back to your profile</a> -->
