{% extends 'base.html' %}

{% block content %}
  <h1>Messages tagged with {{ found_tag.name }}</h1>
  {% for message in found_tag.messages %}
    <div class="card mb-5">
      <div class="card-body">
        <a href="">{{ message.content }}</a> - <small><em>{{ message.user.first_name}} {{message.user.last_name}}</em></small>
      </div>
    </div>
  {% endfor %}
  <div  style="display:flex;justify-content:space-evenly">
    <a href="{{url_for('tag_index')}}" class="btn btn-primary  btn-sm">Back to tag list</a>
    <a href="{{url_for('tag_edit_form', tag_id = found_tag.id)}}" class="btn btn-success  btn-sm">Edit Tag</a>
    <form action="{{url_for('tag_delete', tag_id = found_tag.id)}}?_method=DELETE" method="post">
      <button type="submit" class="btn btn-danger btn-sm">Delete Tag</button>
    </form>
  </div>
{% endblock %}

