{% extends 'base.html' %}
{% block content %}

<a href="{{url_for('tag_new_form')}}" class="btn btn-primary btn-sm">New Tag</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Tags</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
      <tr>
        <td scope="row">{{ tag.name }}</td>
        <td>
            <form action="{{url_for('tag_delete', tag_id = tag.id)}}?_method=DELETE" method="post" style="display:inline">
                <button type="submit" class="btn btn-danger btn-sm">Delete Tag</button>
            </form>
            <a href="{{url_for('tag_edit_form', tag_id = tag.id)}}" class="btn btn-success  btn-sm">Edit Tag</a>
            <a href="{{url_for('tag_show', tag_id = tag.id)}}" class="btn btn-info  btn-sm">Show Tag</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}



