{% extends 'base.html' %}

{% block content %}
  <h1>Messages tagged with {{ found_tag.name }}</h1>
  {% for message in found_tag.messages %}
    <div class="card mb-5">
      <div class="card-body">
        <a href="">{{ message.content }}</a> - <small><em>{{ message.user.first_name}} {{message.user.last_name}}</em></small>
      </div>
    </div>
  {% endfor %}
  <div class="d-flex justify-content-end">
    <a href="" class="btn btn-info mr-2">Go back to tag list</a>
    <a href="" class="btn btn-success mr-2">Edit</a>
  </div>
{% endblock %}

