{% extends 'base.html' %}

{% block content %}

<!-- <h3>Users List</h3> -->
<div>
<a href="{{url_for('user_new')}}" class="btn btn-primary btn-sm">New User</a>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th>Go to</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
      <tr>
        <th scope="row">{{ user.first_name }} {{ user.last_name }}</th>
        <td>
          <a href="{{url_for('user_show', user_id = user.id)}}">Profile</a>
        </td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
{% endblock %}
